<!-- 侧栏部分 -->
<aside class="sidebar">

    <% if (page.content && theme.toc) { %>
    <section class="widget toc-widget">
      <h3 class="widget-hd"><strong>文章目录</strong></h3>
      <!-- 目录 -->
      <div class="toc">
        <%- toc(page.content, {list_number: false, class: "post-toc"}) %>
      </div>
    </section>
    <% } %>

    <% if (theme.ad_nav_top.enable) { %>
    <section class="widget">
      <%- partial('widget/ad_nav_top') %>
    </section>
    <% } %>

    <section class="widget">
        <h3 class="widget-hd"><strong>热门分类</strong></h3>
        <%- partial('widget/categorys') %>
    </section>

    <% if (theme.tagcloud) { %>
    <section class="widget">
        <h3 class="widget-hd"><strong>热门标签</strong></h3>
        <%- partial('widget/tags') %>
    </section>
    <% } %>

    <% if (theme.revolvermaps.enable) { %>
    <section class="widget visit-map">
        <h3 class="widget-hd"  style="display: inline-block"><strong>当前访客</strong></h3>
        <div class="map-switch-btn"><a href="javascript:switchMapStyle()" class="map-switch">...</a></div>
        <%- partial('widget/revolvermaps') %>
    </section>
    <% } %>

    <% if (theme.postcard.enable) { %>
    <section class="widget visit-map">
      <h3 class="widget-hd"  style="display: inline-block"><strong>螃蟹以死</strong></h3>
      <%- partial('widget/postcard') %>
    </section>
    <% } %>

    <% if (theme.weibo_show.enable) { %>
    <!-- 我的微博 -->
    <section class="widget">
        <h3 class="widget-hd"><strong>我的微博</strong></h3>
        <%- partial('widget/weibo') %>
    </section>
    <% } %>

    <% if (theme.friends.enable && theme.friends['list']) { %>
    <!-- 友情链接 -->
    <section class="widget">
        <h3 class="widget-hd"><strong>友情链接</strong></h3>
        <%- partial('widget/friend_links') %>
    </section>
    <% } %>

    <% if (theme.ad_nav_bottom.enable) { %>
      <section class="widget">
        <%- partial('widget/ad_nav_bottom') %>
      </section>
    <% } %>

</aside>
<!-- / 侧栏部分 -->