<% if (theme.share) { %>
  <div class="article-share clearfix text-center">
    <div class="share-area">
      <span class="share-txt">分享到：</span>
      <a href="javascript: window.open('http://service.weibo.com/share/share.php?url=' + encodeURIComponent(location.href.split('#')[0]) + '&title=' + document.title + '&pic=<%- config.url %><%- page.thumbnail %>&language=zh_cn');"
         class="share-icon weibo"></a>
      <a href="javascript: wechatShare('wechat-show', window.location.href.split('#')[0])" class="share-icon wechat"></a>
      <a href="javascript: window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=' + encodeURIComponent(location.href.split('#')[0]) + '&title=' + document.title);"
         class="share-icon qqzone"></a>
      <a href="javascript: window.open('http://connect.qq.com/widget/shareqq/index.html?url=' + encodeURIComponent(location.href.split('#')[0]) + '&title=' + encodeURIComponent(document.title) +'&desc=' + encodeURIComponent('<%- post.content.replace(/<\/?.+?>/g, "").substr(0, 150) %>') + '&pics=<%- config.url %><%- page.thumbnail %>');"
         class="share-icon qq"></a>
      <a href="javascript: window.open('http://shuo.douban.com/!service/share?href=' + encodeURIComponent(location.href.split('#')[0]) + '&name=' + document.title + '&text=' + document.title);"
         class="share-icon douban"></a>
    </div>
  </div>
  <div class="wechat-show">
    <div class="wx-header"><span>分享到微信朋友圈</span><a class="wx-close" onclick="closeShare('wechat-show')">×</a></div>
    <div id="wechat-share" style="margin: 10px"></div>
    <div class="wx-footer">打开微信，使用“扫一扫”即可将网页分享至朋友圈。</div>
  </div>
<% } %>