<!-- 文章标签 -->
<div class="widget-bd tag-wrap">
  <%
  site.tags.sort('length', -1).forEach(function (tag, index) {
  if (index < 15) {
  %>
    <a class="tag-item-link" href="<%= url_for(tag.path) %>" title="<%= tag.name %> (<%- tag.length %>)"><%- tag.name %>
      (<%- tag.length %>)</a>
  <%
  } });
  %>
</div>